<h1><%= @rick.eyeballs %></h1>
<button class="btn"><%= link_to "update rick?", "/ricks/#{@rick.id}/edit" %></button>
<button class="btn"><%= link_to "delete rick?", "/ricks/#{@rick.id}", method: "delete" %></button>
<button class="btn"><%= link_to "Back To RICKS!!", "/ricks" %></button>
<%= react_component("HelloWorld", { greeting: "Hello" }) %>